extends layout
block header
	+navigation
block content 
	section#container
		h2= h.formatCamelCase(category)
		if events.length
			section.events-container
				each event in events
					+event_card("events-container--item",event)
				-const url = `/category/${category}`;
				+pagination(url)
		else
			p(style="margin-left:0.5%;") No events available.