extends layout
block header
	+navigation
block content 
	section#container
		h2= h.formatCamelCase(category)
		section.events-container
			each event in events
				+event_card("events-container--item",event)