extends layout
block header
	+navigation
block content 
	section#container
		#search-meta
			h2 Search Results :
			each value, key in query
				if value && key !== "page"
					span= `${h.formatCamelCase(key)} : ${value}` 
		if events.length
			section.events-container
				each event in events
					+event_card("events-container--item",event)
				+pagination(path,"&page=")
		else
			span No events available.