header {
	.bg-layer {
		position: absolute;
		background: getVarValue(header-bg) no-repeat center;
		background-size: cover;
		@include WH();
		&:after {
			@extend %abs;
			@include WH();
			background: rgba(invert($primary_bg), 0.6);
		}
	}
	#error {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 999;
		color: #fff;
		font-size: 3em;
	}
}
