.profile {
	min-height: 400px;
	@include flexy() {
		flex-wrap: nowrap;
	}

	&-navigation {
		flex-basis: 300px;
		min-width: 300px;
		max-height: 400px;
		@include flexy(column) {
			justify-content: space-evenly;
		}
	}
	&-info {
		flex-basis: 900px;
		&--user {
			@include flexy() {
				flex-wrap: nowrap;
			}
		}
	}

	&-events {
		flex-basis: 900px;
		@include flexy();
		&--item {
			margin: em(5px) 0.5%;
			flex-basis: flexWidth(3);
		}
	}

	&-wallet {
		flex-basis: 900px;
		&--meta {
			@include flexy() {
				flex-wrap: nowrap;
			}
			span {
				margin: 0 0.5%;
				flex-basis: flexWidth(3);
			}
		}
	}
}
