#form-container {
	@include WH(450px, auto);
	min-height: 100vh;
	margin: 0 auto;
	background: $primary_bg;
	padding: em(15px) em(25px);
	form {
		@include WH(100%, auto);
		.input-group {
			margin: em(15px) auto;
			label {
				top: 10px;
				left: 15px;
			}
			input {
				padding: em(25px) em(15px) em(15px);
			}
		}
		.btn-submit {
			border-radius: 0;
		}
	}
	.logo {
		@include WH(70px, 70px);
	}
	.st-link {
		align-self: flex-start;
	}
	hr {
		@include WH(100%, auto);
		margin: em(55px) auto;
	}
	span {
		margin: em(25px) 0;
		color: darken($primary_bg, 45%);
		align-self: flex-start;
	}
}

.social-logins {
	.btn {
		font-size: 14px;
		margin: em(5px, 14px) 0;
		padding: em(10px, 14px) em(15px, 14px);
		flex-basis: flexWidth(2);
		color: $primary_bg;
		&:nth-of-type(1) {
			background: $fb_color;
		}
	}
}

.input {
	&-group {
		position: relative;
		label {
			position: absolute;
			top: 5px;
			left: 5px;
			font-size: 14px;
			color: darken($primary_bg, 25%);
		}
		input,
		textarea {
			padding: em(10px);
			@include WH(100%, auto);
		}
		input[type="file"] {
			display: none;
		}
		i {
			position: absolute;
			font-size: 24px;
			right: 22px;
			top: 50%;
			margin-top: -8px;
			font-weight: map-get($fontWeight, "bold");
		}
		& .dropdown-list {
			position: absolute;
			@include WH(102%, auto);
			background: $primary_bg;
			top: 110%;
			left: -6px;
			max-height: 0;
			// padding: 0 em(15px);
			overflow: auto;
			transition: 100ms ease-in;
			li {
				cursor: pointer;
				background: $primary_bg;
				padding: em(25px) em(15px);
				max-height: 70px;
				border-bottom: border(1px, invert($primary_bg, 5%));
				transition: 70ms ease-in;
			}
		}
	}
	&-actions {
		@include WH(255px);
		margin-left: auto;
	}
}
