mixin footer(invert=false)
	footer(class=(invert ? 'invert' : '') )
		.platform-info
			h2 SHARE OUR PLATFORM
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh,viverra non, semper suscipit, posuere a, pede.
			h4 How reward points work ?
			p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.Praesent dapibus, neque  id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,  facilisis luctus, metus.


			.platform-info--meta
				small © EP 2019
				ul.social-list
					li 
						a(href="" class="fa fa-facebook-square")
					li 
						a(href="" class="fa fa-twitter-square")
					li 
						a(href="" class="fa fa-linkedin-square")
					li 
						a(href="" class="fa fa-instagram")
		.platform-contact
			h2 WANT TO ASK SOMETHING ?
			form(id="contactForm") 
				.input-group
					label(for="fullName") FULL NAME
					input(type="text" name="fullName" required)
				.input-group
					label(for="email") EMAIL
					input(type="email" name="email" required)
				.input-group
					label(for="message") MESSAGE
					textarea(name="message" required)
				button(class="btn btn-th btn-submit") SEND NOW
			

		