mixin paymentModal
	.modal-overlay
		#modal
			.modal-header
				h3 CHECKOUT
			.modal-body
				span 
					b Event : 
				span 
					i #{event.name}
				br
				span 
					b Amount : 
				span
					i $#{event.price}
				br
				br
				form(action="" method="post" id="payment-form")
					.form-row
						#card-element
						#card-errors(role="alert")
					input(type="hidden" name="event" value=event.id)
					.actions
						button.btn.btn-th Proceed
						button#toggleModal(type="button").btn Close