mixin profile_navigations(activeItem="info")
	.profile-navigation
			a(href="/profile/me" class=activeItem == "info" ? "profile-navigation--item active" : "profile-navigation--item")
				i.fa.fa-user
				| Info
			a(href="/profile/events" class=activeItem == "events" ? "profile-navigation--item active" : "profile-navigation--item" )
				i.fa.fa-umbrella
				| Events
			a(href="/profile/wallet" class=activeItem == "wallet" ? "profile-navigation--item active" : "profile-navigation--item")
				i.fa.fa-money
				| Wallet
			a(href="/profile/setting" class=activeItem == "setting" ? "profile-navigation--item active" : "profile-navigation--item")
				i.fa.fa-cog
				| Settings